body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.create-pending .collapsible-header {
  /*Display this collapsible's header in the same style as the app's buttons*/
  background-color: #26a69a;
  color: #ffffff;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  border-radius: 3px;
  text-transform: uppercase;
}

.brand-logo {
  margin-right: 60px
}

.factory-agreement-top {
  padding-top: 20px;
}

.factory-agreement-bottom {
  padding-bottom: 10px;
}

.reg-user2 {
  margin-top: 35px;
  margin-bottom: 25px;
}
